section {
    height: 100%;
    margin: 0px 5%;
    margin-top: 25vh;
    text-align: left;
}

h1 {
    font-size: 1.8em;
    color: var(--contrast-color);
}

h2 {
    font-size: 1.5em;
    color: #EAEBEB;
}

button {
    display: block;
    background-color: var(--background-color);
    border: 2px solid var(--contrast-color);
    border-radius: 5px;
    font-size: 1em;
    color: var(--contrast-color);
    margin-top: 40px;
    padding: 5px 10px;
}

button:hover {
    color: var(--background-color);
    background-color: var(--contrast-color);
    cursor: pointer;
}

@media (min-width: 400px) {
    
    h1 {
        font-size: 2em;
    }

    section {
        margin: 0px 10%;
        margin-top: 25vh;
    }
}

