.menu {
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    
}

img {
    margin-top: 50px;
    height: 100px;
}

.menu > p {
    font-size: 1.5em;
}

.links {
    margin-top: 60px;
}

.links > a {
    font-size: 2em;
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    border-bottom: solid var(--secondary-color) 1px;
    padding: 30px 0px 20px 0px;
}

.links > a:hover {
    background-color: var(--contrast-color);
    color: var(--background-color)
}
