.central {
    margin-top: 15px;
}

p {
    display: inline;
}

.cl-toggle-switch {
    display: inline;
   }
   
   .cl-switch {
    position: relative;
    top: 6px;
    margin: 0px 7px;
    display: inline-block;
   }
   /* Input */
   .cl-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
   }
   /* Track */
   .cl-switch > span::before {
    content: "";
    float: right;
    margin: 5px 0px 5px 0px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: var(--secondary-color);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
   }
   /* Thumb */
   .cl-switch > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--contrast-color);
    transition: background-color 0.2s, transform 0.2s;
   }
   
   
   .cl-switch > input:checked + span::after {
    transform: translateX(16px);
   }
