:root {
  --background-color: #003230;
  --main-color: #CFDBD5;
  --secondary-color: #E8EDDF;
  --contrast-color: #3772FF;
}

body {
  color: var(--main-color);
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
}